.k-window-title {
  cursor: pointer !important;
}
.k-window-titlebar {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}
.k-window {
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.window-wrapper {
  display: flex;
}
